body {
  background-color: rgb(18, 48, 44);
}

.jumbotron {
  background-color: brown;
}

.interface-box {
  height: 500px;
  overflow-y: scroll;
  margin-top: 20px;
  background-color: black;
}

.interface {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(136, 255, 107);
  padding: 0 60px 0 60px;
  font-size: 20px;
}

.interface a {
  color: rgb(136, 255, 107);
}

.interface a :hover {
  color: rgb(56, 109, 43);
}

.footer {
  font-size: 15px;
  color: aqua;
}

.header {
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: aqua;
}

.black-text {
  color: black;
}

