@{
  Layout = "_Layout";
}

<h3>Welcome Pierre<h3>
<p>What would you like to do?</p>
<p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
<p><a href='/vendors/new'>1. Add Vendor</a></p>
<p><a href='/vendors'>2. View Vendors</a></p>
<p><a href='/vendor/search'>3. Search Vendors</a></p>