@{
  Layout = "_Layout";
}

<h3>Welcome Pierre<h3>
<p>What would you like to do?</p>
<a href='/vendors/new'>Add Vendor</a>
<a href='/vendors'>View Vendors</a>
<a href='/vendor/search'>Search Vendors</a>