@{
  Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <input class="form-control" type="date">
  <label for="dateOrdered">Date Ordered:</label>
  <input id="dateOrdered" name="dateOrdered" type="text">
  <label for="dateRec">Date Received:</label>
  <input id="dateRec" name="dateRec" type="text">
  <button type='submit'>Add item</button>
</form>