@{
  Layout = "_Layout";
}

<h1>Add new vendor</h1>

<form action="/vendors" method="post">
  <label for="vendorName">Vendor name: </label>
  <input id="vendorName" name="vendorName" class="black-text" type="text">
  <button class="btn black-text" type='submit'>Add vendor</button>
</form>
<p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
<p><a href="/">1. Back home</a></p>
<p><a href="/vendors">2. View all vendors.</a></p>