@{
  Layout = "_Layout";
}

<h3>Search<h3>
<form action="/vendors/searchresult" method="post">
  <label for="search">Type in a search </label>
  <input id="search" name="search" class="black-text" type="text">
  <button class="btn black-text" type='submit'>Search</button>
</form>
<p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
<p><a href='/vendors/new'>1. Add Vendor</a></p>
<p><a href='/vendors'>2. View Vendors</a></p>