@{
  Layout = "_Layout";
}

<div>
  <p>This site is only a mock up and does not contain any real vendors or order information. This is a project created for Epicodus by Mike Manchee you can see other projects by clicking <a href="https://mmanchee.github.io/portfolio/"></a>HERE</p>
</div>